// Spacelab 5.2.0 -- This is a copy of node_modules/bootswatch/dist/spacelab/_variables.scss with
// Tiki CSS variables added and color values updated to better comply with WCAG guidelines.
@import "../../../node_modules/bootswatch/dist/spacelab/_variables.scss";
//
// Color system
//

//$primary:       $blue !default;
$secondary:     #949494; // $gray-500 !default;
$success:       #38A81F; // $green !default;
$info:          #0C77D4; //$cyan !default;  Darkened for Tiki to meet WCAG guidelines
$warning:       #B36200; // $yellow !default;
//$danger:        $red !default;
//$light:         $gray-200 !default;
//$dark:          $gray-800 !default;

$green-300: tint-color($green, 40%); // !default;
$red-300: tint-color($red, 40%); // !default;

// Body
$body-color:                #595959; // $gray-600 !default; Darkened for Tiki to meet WCAG guidelines

// Links
$link-color: #0C77D4;
$link-shade-percentage:                   20% !default; // Bootstrap 5.3

// Fonts
// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      system-ui, sans-serif; // "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-color:              null !default;

// Forms
$input-border-color:                 $gray-400; //    var(--#{$prefix}border-color) !default;

// Popovers
//$popover-header-color:              $headings-color !default;

// Navbar
//$navbar-dark-color:                 rgba($white, .75) !default;
//$navbar-dark-hover-color:           $white !default;
//$navbar-light-color:                rgba($black, .4) !default;

// Code
$code-color:                      $body-color; //   $pink !default; // Bootstrap 5.3

//--------------------------- Tiki SCSS variables

// Bootswatch overrides

$web-font-path: none; // Override value in vendor file