// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //
@import "../../default/scss/variables";
// Colors
$light:                #c7d0d9;
$dark: $gray-900;

//$green-300: tint-color($green, 40%);  // default
//$red-300: tint-color($red, 40%);  // default

$primary: #005faa;
$secondary: #003d99; // #52269c;
$success: #48ca3b;
$info: #1373c0;
$warning: #f0ad4e;
$danger: #df6e1e;

$theme-colors: (
    "primary":             #005faa, //#0099cc,
    "secondary":           #003d99, // #52269c,
    "success":             #48ca3b, //#5cb85c,
    "info":                #1373c0,
    "warning":             #f0ad4e,
    "danger":              #df6e1e,
    "light":               #ffffff,
    "dark":                #212529
);

// Options
// Prefix for :root CSS variables

$variable-prefix:             bs-;  // default // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix;  // default

// Spacing

// Body
$body-bg: #f4f4f4;
$body-color: #222;

// Links
$link-color: #2d3741;
$link-shade-percentage:                   20%;  // default // Bootstrap 5.3

// Components
$component-active-color:      $white;  // default
$component-active-bg:         $primary;  // default

$border-color: #8cacbb;
$border-radius:               .1rem; // Not being implemented - why?
$border-radius-lg:            .2rem;
$border-radius-sm:            0rem;
$border-color-translucent:    rgba($black, .175);  // default

// Fonts
$font-family-sans-serif: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;  // Cabin, "Helvetica Neue", Helvetica, Arial, sans-serif;
//$font-family-serif: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, sans-serif;
$font-size-base: 1.1rem;
$popover-font-size:    $font-size-base * .875;

// Tables
//$table-border-color: #dddddd;

// Buttons
$btn-primary-color: #223344;
$btn-primary-bg: #c7d0d9;
$btn-primary-border: #999999;

// Forms
$input-border-color:                      var(--#{$prefix}border-color); // #8cacbb;

// Dropdowns
// Navs
// Navbar
$navbar-dark-color: $gray-200;
$navbar-dark-bg: $dark;
$navbar-dark-border: $border-color;

//// Navbarlinks ??
$navbar-dark-color:                 #2d3741;
$navbar-dark-hover-color:           lighten($navbar-dark-color, 10%);
//$navbar-dark-active-color:          $white;  // default
//$navbar-dark-disabled-color:        rgba($white, .25);  // default
//$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");  // default
//$navbar-dark-toggler-border-color:  rgba($white, .1);  // default

$navbar-light-color:                rgba($black, .5);  // default
$navbar-light-hover-color:          rgba($black, .7);  // default
//$navbar-light-active-color:         rgba($black, .9);  // default
//$navbar-light-disabled-color:       rgba($black, .3);  // default
//$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");  // default
//$navbar-light-toggler-border-color: rgba($black, .1);  // default

// Dropdowns
$dropdown-border-color:             var(--#{$prefix}border-color-translucent);  // default
$dropdown-divider-bg:               $dropdown-border-color;  // default
$dropdown-link-active-color:        $component-active-color;  // default
$dropdown-link-active-bg:           $component-active-bg;  // default

$dropdown-border-color:             var(--#{$prefix}border-color-translucent);  // default
$dropdown-dark-color:               $gray-300;  // default
$dropdown-dark-bg:                  $gray-800;  // default
$dropdown-dark-border-color:        $dropdown-border-color;  // default
$dropdown-dark-divider-bg:          $dropdown-divider-bg;  // default
$dropdown-dark-box-shadow:          null;  // default
$dropdown-dark-link-color:          $dropdown-dark-color;  // default
$dropdown-dark-link-hover-color:    $white;  // default
$dropdown-dark-link-hover-bg:       rgba($white, .15);  // default
$dropdown-dark-link-active-color:   $dropdown-link-active-color;  // default
$dropdown-dark-link-active-bg:      $dropdown-link-active-bg;  // default

// Pagination
// Jumbotron
// Cards
$card-border-radius: $border-radius;
$card-border-color: #acccdd;
//$card-text: #fff;//@gray-lighter;
//$card-header-bg: red;
$card-header-padding: 10px 15px;
$card-cap-bg: #f3f6f9;

// Tooltips
// Popovers
// Badges
// Modals
//$modal-header-border-color: #386dbb;
// Alerts
// Progress bars
// List group
// Image thumbnails
// Figures
// Breadcrumbs
// Carousel
// Close
// Code
$code-color:                        $body-color; // $pink;  // default // Bootstrap 5.3

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //


.btn {
//    color: #6c839b;

    &:focus {
        color: $gray-700;
    }

    &:hover,
    &:focus,
    &:active,
    &:active:focus {
        color: $gray-700;
    }

    @each $color, $value in $theme-colors {
        &-#{$color} {

            &:active,
            &:active:focus {
                @if ($color == secondary or $color == light) {
                    color: $gray-700;
                    background-color: $gray-200;
                } @else {
                    color: $white;
                    background-color: $value;
                }
            }
        }
    }
}

// - - - - - - - - - - - - - - - - - CSS variables, if any - - - - -
