//--------------------------- Tiki CSS variables
// The light background is changed from the original for more color variety in Tiki's themes.
@mixin top-nav-light {
    --tiki-top-bg: #f3969a;
    --tiki-top-color: #fff; // rgba(0, 0, 0, 0.3);
    --tiki-top-hover-color: rgba(255, 255, 255, 0.9); // #5a5a5a;
    --tiki-top-text-color: rgba(255, 255, 255, 0.9);
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color}
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: #f3969a;
    --tiki-topbar-color: #fff; // rgba(0, 0, 0, 0.3);
    --tiki-topbar-hover-color: rgba(255, 255, 255, 0.9); // #5a5a5a;
    --tiki-topbar-text-color: rgba(255, 255, 255, 0.9);
}

@mixin top-nav-dark {
    --tiki-top-bg: rgba(120, 194, 173, 1);
    --tiki-top-color: rgba(255, 255, 255, 0.8);
    --tiki-top-hover-color: #fff;
    --tiki-top-text-color: #fff;
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: rgba(120, 194, 173, 1);
    --tiki-topbar-color: rgba(255, 255, 255, 0.8);
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-text-color: #fff;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: #f3969a;
//    --tiki-admin-navbar-bg: #f3969a;
    --tiki-admin-top-nav-color: rgba(0, 0, 0, 0.8);
    --tiki-admin-top-nav-hover-color: #5a5a5a;
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #f3969a;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    button.was-nav-link.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: rgba(120, 194, 173, 1);
    --tiki-admin-top-nav-color: rgba(255, 255, 255, 0.9);
    --tiki-admin-top-nav-hover-color: #fff;
    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: rgba(120, 194, 173, 1);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #9AE3CF;
    --tiki-admin-dropdown-bg: #4b5259;
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    button.was-nav-link.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
    }
}

// When color mode switch isn't active
:root {
    .tiki .tiki-admin-top-nav-light, // Legacy
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {
        @include admin-nav-light;
    }
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {
        @include admin-nav-dark;
    }
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // dark values
    }
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //


:root {
    --tiki-vert-nav-link-color: $link-color;
    --tiki-vert-nav-link-hover-color: $link-hover-color;
}

[data-bs-theme="dark"] {
    --tiki-vert-nav-link-color: rgba(var(--bs-link-color-rgb));
    --tiki-vert-nav-link-hover-color: rgba(var(--bs-link-hover-color-rgb));
    .bg-light,
    .navbar.bg-light {
        background: var(--bs-tertiary-bg) !important;
        .nav-link {
            color: $link-color-dark;
        }
    }
}