// Minty 5.3.3 -- This file overrides and supplements node_modules/bootswatch/dist/minty/_variables.scss

@import "../../../node_modules/bootswatch/dist/minty/_variables.scss";
//
// Color system

$green-300: tint-color($green, 40%);  // default
$red-300: tint-color($red, 40%);  // default

$primary:       #ABD9CD; // #78c2ad;  // default
$secondary:     #f3969a;  // default
$success:       #56cc9d; // $green;  // default
$info:          #6cc3d5; //$cyan;  // default
$warning:       #ffce67; // $yellow;  // default
$danger:        #ff7851; //$red;  // default
//$light:         $gray-100;  // default
//$dark:          $gray-800;  // default

$min-contrast-ratio:   2.5;

// Options
// Prefix for :root CSS variables

$variable-prefix:             bs-;  // default // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix;  // default


// Body
$body-color:                #595959; // $gray-600;  // default Modified for Tiki, for WCAG compliance

// Typography
$link-shade-percentage:                   20%;  // default // Bootstrap 5.3
$link-color: #3A826E; // Modified for Tiki, for WCAG compliance


// Components
$border-color: #c9c9c9; // darkened for visibility in Tiki

// Fonts
$font-family-sans-serif:      ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif; // system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";  // default
//$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;  // default
// stylelint-enable value-keyword-case
//$font-family-base:            var(--#{$prefix}font-sans-serif);  // default


// stylelint-disable-next-line value-keyword-case
//$headings-font-family:        Montserrat, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;  // default
$headings-color:              inherit;

// Tables
// Buttons
$btn-color:                   #212529; // var(--#{$prefix}body-color);  // default

// Dropdowns
// Navbar

$navbar-dark-color:                 rgba($white, .6);  // default
$navbar-dark-hover-color:           $white;  // default
$navbar-light-color:                rgba($black, .3);  // default
$navbar-light-hover-color:          $gray-700;  // default
$navbar-light-active-color:         $gray-700;  // default
$navbar-light-disabled-color:       rgba($black, .1);  // default

// Pagination
// Popovers
$popover-bg:                        var(--#{$prefix}body-bg);  // default
$popover-border-color:              var(--#{$prefix}border-color-translucent);  // default
$popover-header-bg:                 var(--#{$prefix}secondary-bg);  // default
$popover-header-color:              $headings-color;  // default
$popover-body-color:                var(--#{$prefix}body-color);  // default

// Badge
$badge-color: #212529;

// Alerts
// Breadcrumbs
// Code
$code-color:                      $body-color; //   $pink;  // default // Bootstrap 5.3
//--------------------------- Tiki SCSS variables

// Bootswatch overrides

$web-font-path: none; // Override value in vendor file