// Custom variables for the Akebi theme option of the FiveAlive and FiveAlive-lite themes
// These FiveAlive-lite Akebi theme option variables are applied to fivealive-lite/scss/fivealive-lite_option_selectors.scss.

// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //

// scss-docs-start gray-color-variables
$white:    #fff;  // default
$gray-100: #f8f9fa;  // default
$gray-200: #e9ecef;  // default
$gray-300: #dee2e6;  // default
$gray-400: #ced4da;  // default
$gray-500: #adb5bd;  // default
$gray-600: #6c757d;  // default
$gray-700: #495057;  // default
$gray-800: #343a40;  // default
$gray-900: #212529;  // default
$black:    #000;  // default
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue:    #0d6efd;  // default
$indigo:  #6610f2;  // default
$purple:  #6f42c1;  // default
$pink:    #d63384;  // default
$red:     #dc3545;  // default
$orange:  #fd7e14;  // default
$yellow:  #ffc107;  // default
$green:   #198754;  // default
$teal:    #20c997;  // default
$cyan:    #0dcaf0;  // default
// scss-docs-end color-variables

$red-300: tint-color($red, 40%);  // default
$green-300: tint-color($green, 40%);  // default

$theme-colors: (
    "primary":            #177F92,
    "secondary":         #005064,
    "success":          #3A833A, //   #5cb85c,
    "info":               #007378,
    "warning":          #A4660E, //   #f0ad4e,
    "danger":           #D63D00, //   #ff5c1a,
    "light":            #fff,
    "dark":                #18a3bb
);

$primary:       #177F92; //#18a3bb;
$secondary:     #005064;
$success:       #3A833A; // #5cb85c;
$info:          #007378;
$warning:       #A4660E; // #f0ad4e;
$danger:        #D63D00; // #ff5c1a;

$light: #ddf8f9; // use input bg (was #18a3bb;)
$dark: #063035; // Match bg of topbar zone

$theme-colors: map-merge(
        (
            "primary":    $primary,
            "secondary":  $secondary,
            "success":    $success,
            "info":       $info,
            "warning":    $warning,
            "danger":     $danger,
            "light":      $light,
            "dark":       $dark
        ),
        $theme-colors
);

// The following are default values from node_modules/bootstrap/scss/variables.scss - change as needed for theme child option (or to match values in parent theme).
// Comment-out any that are already defined in the parent theme variables.scss file and shouldn't be redefined.
$min-contrast-ratio:  3;

$color-contrast-dark:             $gray-900;
$color-contrast-light:            $white;

// Options

// Prefix
$prefix: bs-;



// $bg-light: #18a3bb !important; (Changing tactics for Bootstrap 5)
$body-bg: #fff;
$body-color: $gray-800;  // default

$link-color: #138296; // #11606E;
$link-hover-color:            darken($link-color, 15%);
$link-hover-decoration:       none;
$link-shade-percentage:                   20%;  // default

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #ddf8f9;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #087084;
$nav-pills-link-active-bg: #087084;

// Navbars
$page-header-link-color: #fff;
$topbar-link-color: #fff;
$navbar-light-color: $link-color;

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
$bg-dark-link-hover-bg: #003c4a;

// Dropdowns
$dropdown-dark-link-hover-bg:       rgba($white, .15);  // default

// Typography
$hr-color: #18a3bb;
$text-success: #288040 !important;
$text-danger: #d63d00 !important;
$text-muted:  var(--#{$prefix}secondary-color);  // default // Deprecated in 5.3.0 -- #6B737B;

$headings-color:            var(--#{$prefix}body-color); //  #169FB6; // var(--#{$prefix}body-color);

// Tables
$table-border-color: #1296a9;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

// Forms
$input-color: var(--#{$prefix}body-color);  // default // #3d3d3d;
$input-bg: var(--#{$prefix}body-bg);  // default // #ddf8f9;
$input-border-color: var(--#{$prefix}border-color);  // default // #b4f3fb;
$input-border-top-color: #83c5ce;
$input-border-right-color: #fff;
$input-border-bottom-color: #fff;
$input-border-left-color: #83c5ce;

// Form validation

// Dropdowns
$dropdown-bg: #fff;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: $link-color;
$dropdown-link-hover-color: lighten($link-hover-color,10%);
$dropdown-link-hover-bg: #087084;
$dropdown-link-active-color: red;
$dropdown-link-active-bg: #087084;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$dropdown-dark-color: #fff;
$dropdown-dark-link-color: #fff;
$dropdown-dark-link-hover-color: lighten($link-hover-color,10%);
$dropdown-dark-link-hover-bg: #087084;
$dropdown-dark-bg: #087f93;

// Pagination
$pagination-color: #0b8a98;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #18a3bb;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #0b8a98;
$pagination-active-border-color: #0b8a98;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

// Code
$code-color:                        $body-color; // $pink;  default

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //

$top-bg: #117485; // Used for $post-card-header-bg and .postbody-title
$top-color: #fff;
$top-link-color: #fff;
$top-link-hover-color: #f9f9f9;
//$topbar-bg: #063035;

$top-light-bg: #117485;
$top-light-color: #f9f9f9;
$topbar-light-bg: #063035;
$topbar-light-color: #f9f9f9;

$top-dark-bg: #117485; // $top-light-bg; defining the variable with a variable didn't work.
$top-dark-color: $top-light-color;
$topbar-dark-bg: #063035; // $topbar-light-bg;
$topbar-dark-color: $topbar-light-color;

$navbar-light-link-color: $top-light-color;
$navbar-light-link-hover-color: #f2f2f2;
//$navbar-light-link-hover-bg: #003c4a;

$navbar-dark-link-color: $top-light-color;
$navbar-dark-link-hover-color: #f2f2f2;
$navbar-dark-link-hover-color: $navbar-light-link-hover-color;
//$navbar-light-link-hover-bg: #003c4a;

$card-border-color: #169FB6;

$bg-light-alt: #117485;

$side-column-heading-color: #138296; // #169FB6; WCAG-AA

$middle_outer-inset-shadow-bg: #063035;
$footer_liner-card-inner-border: #19a5be;

$footer-accent-color: #19a5be;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

//$autotoc-nav-bg: #005064;
//$autotoc-color: #ffffff;
//$autotoc-nav-link-hover-color: #f2f2f2;
//$autotoc-nav-link-hover-bg: #2e1f39;

//$autotoc-nav-bg: #ffffff;
//$autotoc-nav-border: #19a5be;
//$autotoc-color: #0b8a98;
//$autotoc-nav-li-link-hover-color: #f2f2f2;
//$autotoc-nav-li-link-hover-bg: #003c4a;

$bg-dark-info: #00DAE6;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
@mixin top-nav-light {
    --tiki-top-bg: #{$top-light-bg} !important;
    --tiki-top-color: #{$top-link-color};
    --tiki-top-hover-color: #{$top-link-hover-color};
    --tiki-top-text-color: #{$top-link-hover-color};
    --tiki-top-border: solid #000;
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: #{$topbar-light-bg};
    --tiki-topbar-color: #{$topbar-link-color};
    --tiki-topbar-hover-color: #{$navbar-light-link-hover-color};
    --tiki-topbar-text-color: #{$navbar-light-link-hover-color};
}

@mixin top-nav-dark {
    --tiki-top-bg: #{$top-dark-bg} !important;
    --tiki-top-color: #{$navbar-dark-link-color};
    --tiki-top-hover-color: #{$navbar-dark-link-hover-color};
    --tiki-top-text-color: #{$navbar-dark-link-hover-color};
    --tiki-top-border: solid #000;
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: #{$topbar-dark-bg};
    --tiki-topbar-color: #{$navbar-dark-link-color};
    --tiki-topbar-hover-color: #{$navbar-dark-link-hover-color};
    --tiki-topbar-text-color: #{$navbar-dark-link-hover-color};
}

.tiki-top-nav-light {
    @include top-nav-light;
}

.tiki-topbar-nav-light {
    @include topbar-nav-light;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

.tiki-nav-top-light, .tiki-nav-top-dark {
    --tiki-top-border-top-width: 0px;
    --tiki-top-border-bottom-width: 5px;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}

// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // color mode
    .tiki-top-nav-dark {                           // dark top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-dark {
        @include topbar-nav-light;
    }
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: #{$top-light-bg};
    --tiki-admin-top-nav-color: #{$top-light-color};
    --tiki-admin-top-nav-hover-color: #{$top-link-hover-color};
    --tiki-admin-top-nav-link-hover-bg: none ;
    --tiki-admin-aside-nav-bg: #{$top-light-bg};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$dropdown-link-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: #{$top-dark-bg};
    --tiki-admin-top-nav-color: #{$navbar-dark-link-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-dark-link-hover-color};
//    --tiki-admin-top-nav-link-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: #{$top-dark-bg};
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$dropdown-dark-link-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

// When color mode switch isn't active
:root {
    .tiki .tiki-admin-top-nav-light, // Legacy
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {
        @include admin-nav-light;
    }
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {
        @include admin-nav-dark;
    }
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // dark values
    }
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #177F92;
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-bg: #67b1be;
}