//Custom styles for the FiveAlive Plum option theme.
$tiki-top-bg: linear-gradient(to right, #300149 0%, #15001F 100%);
// - - - - - - - Bootstrap variables (override values in node_modules/bootstrap/scss/_variables.scss - - - - - - //
// Color system

// scss-docs-start gray-color-variables
$white:    #fff;  // default
$gray-100: #f8f9fa;  // default
$gray-200: #e9ecef;  // default
$gray-300: #dee2e6;  // default
$gray-400: #ced4da;  // default
$gray-500: #adb5bd;  // default
$gray-600: #6c757d;  // default
$gray-700: #495057;  // default
$gray-800: #343a40;  // default
$gray-900: #212529;  // default
$black:    #000;  // default
// scss-docs-end gray-color-variables

// scss-docs-start gray-colors-map
$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
);  // default
// scss-docs-end gray-colors-map

// scss-docs-start color-variables
$blue:    #0d6efd;  // default
$indigo:  #6610f2;  // default
$purple:  #6f42c1;  // default
$pink:    #d63384;  // default
$red:     #dc3545;  // default
$orange:  #fd7e14;  // default
$yellow:  #ffc107;  // default
$green:   #198754;  // default
$teal:    #20c997;  // default
$cyan:    #0dcaf0;  // default
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "black":      $black,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
);  // default
// scss-docs-end colors-map

$red-300: tint-color($red, 40%);  // default
$green-300: tint-color($green, 40%);  // default

$primary:       #7a04b5;
$secondary:     #52269c;
$success:       #5cb85c;
$info:          #350251;
$warning:       #f0ad4e;
$danger:        #ff5c1a;
$light:         #ffffff;
$dark:          #15001f;

$theme-colors: (
    "primary":            #7a04b5,
    "secondary":         #52269c,
    "success":             #5cb85c,
    "info":             #350251,
    "warning":             #f0ad4e,
    "danger":              #ff5c1a,
    "light":            #ffffff,
    "dark":                #15001f
);

// Options

// Prefix
$prefix: bs-;

// Body
$body-color: $gray-800;  // default

// Links
$link-color: #7a04b5;
$link-hover-color: #7a04b5;
$link-shade-percentage:                   20%;  // default

// navbar link hover colors
$bg-dark-link-hover-color: #f2f2f2;
//$bg-dark-link-hover-bg: #003c4a;

// Navs
$nav-tabs-link-color: #000;
$nav-tabs-link-bg: #f4e1ff; // Same as $input-bg;
$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: #15001f; // Same as $dropdown-link-hover-bg;

// Navbars

// Typography
$text-muted:  var(--#{$prefix}secondary-color);  // default // Deprecated in 5.3.0 -- #6B737B;
$hr-color: #7a04b5;
$headings-font-weight: 700;

// Cards
$card-border-color: #49006c;
$card-title-color: $white;

// Tables
$table-border-color: #c564f5;
$table-accent-bg: #f9f9f9;
$table-hover-bg: #f5f5f5;

// Forms
$input-color: var(--#{$prefix}body-color);  // default // #555555;
$input-bg: var(--#{$prefix}body-bg);  // default // #f4e1ff;
$input-border-color: var(--#{$prefix}border-color);  // default // #f9f0ff;
$input-border-top-color: #db9fff;
$input-border-right-color: #f9f0ff;
$input-border-bottom-color: #f9f0ff;
$input-border-left-color: #db9fff;

// Form validation

// Dropdowns
$dropdown-bg: #49006c;
$dropdown-border-color: rgba(0, 0, 0, 0.15);
$dropdown-link-color: #ffffff;
$dropdown-link-hover-color: #f2f2f2;
$dropdown-link-hover-bg: #15001f;
$dropdown-link-active-color: #f2f2f2;
$dropdown-link-active-bg: #380052;
$dropdown-link-disabled-color: #f2f2f2;
$dropdown-header-color: #ffffff;
$dropdown-divider-bg: $dropdown-bg;

$dropdown-dark-color: #fff;
$dropdown-dark-bg: $dropdown-bg;

// Pagination
$nav-pills-link-active-bg: #7a04b5;
$pagination-color: #7a04b5;
$pagination-bg: #ffffff;
$pagination-border-color: #dddddd;
$pagination-hover-color: #7a04b5;
$pagination-hover-bg: #eeeeee;
$pagination-hover-border-color: #dddddd;
$pagination-active-bg: #7a04b5;
$pagination-active-border-color: #7a04b5;
$pagination-disabled-color: #999999;
$pagination-disabled-bg: #ffffff;
$pagination-disabled-border-color: #dddddd;

// Code

$code-color:                        $body-color; // $pink; default

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //
$bg-light: #7a04b5 !important;
$bg-light-alt: #117485 !important;
$bg-dark: #15001f;

$top-bg: #49006c;
$top-color: #fff;
$top-link-color: #fff;
$top-link-hover-color: #f9f9f9;
$topbar-bg: #15001f;
$topbar-link-color: #fff;
$bg-dark-info: #f2f2f2;
$page-header-link-color: #000;

$topbar-dark-bg: #180124;
$top-light-bg: transparent; // #117485;
$top-light-color: #f9f9f9;
$top-light-link-color: $top-light-color;
$topbar-light-bg: #063035;
$topbar-light-color: #f9f9f9;
$topbar-dark-bg: #180124;

$top-dark-bg: transparent; // #117485; // $top-light-bg; defining the variable with a variable didn't work.
$top-dark-color: $black;
$top-dark-link-color: $top-dark-color;
$topbar-dark-bg: #063035; // $topbar-light-bg;
$topbar-dark-color: $topbar-light-color;

$navbar-light-color: $top-light-color;
$navbar-light-link-color: $top-light-color;
$navbar-light-link-hover-color: #f2f2f2;
//$navbar-light-link-hover-bg: #003c4a;
$navbar-dark-color: $top-light-color;
$navbar-dark-link-color: $top-light-color;
$navbar-dark-link-hover-color: #f2f2f2;
$navbar-dark-link-hover-color: $navbar-light-link-hover-color;
//$navbar-light-link-hover-bg: #003c4a;


$side-column-heading-color: #49006c;

$footer_liner-card-inner-border: #7a04b5;

$footer-accent-color: #7a04b5;
$footer-btn-secondary-color: #f4f4f4;
$footer_liner-border-color: $footer-accent-color;

$topbar-dark-bg: #180124;
$postbody-title-card-title-color: #fff;

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.
@mixin top-nav-light {
    --tiki-top-bg: #{$tiki-top-bg}; // linear-gradient(to right, #300149 0%, #15001F 100%);
    --tiki-top-color: #{$navbar-light-link-color};
    --tiki-top-hover-color: #{$navbar-light-link-hover-color};
    --tiki-top-text-color: #{$navbar-light-link-hover-color};
    --tiki-top-border: solid #000;
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: #180124;
    --tiki-topbar-color: #{$navbar-light-link-color};
    --tiki-topbar-hover-color: #{$navbar-dark-link-hover-color};
    --tiki-topbar-text-color: #{$navbar-dark-link-hover-color};
}

@mixin top-nav-dark {
    --tiki-top-bg: #{$tiki-top-bg}; // linear-gradient(to right, #300149 0%, #15001F 100%);
    --tiki-top-color: #{$navbar-dark-link-color};
    --tiki-top-hover-color: #{$navbar-dark-link-hover-color};
    --tiki-top-text-color: #{$navbar-dark-link-hover-color};
    --tiki-top-border: solid #000;
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: #180124;
    --tiki-topbar-color: #{$navbar-dark-link-color};
    --tiki-topbar-hover-color: #{$navbar-dark-link-hover-color};
    --tiki-topbar-text-color: #{$navbar-dark-link-hover-color};
}

.tiki-top-nav-light {
    @include top-nav-light;
}

.tiki-topbar-nav-light {
    @include topbar-nav-light;
}

.tiki-top-nav-dark {
    @include top-nav-dark;
}

.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

.tiki-top-nav-light, .tiki-top-nav-dark {
    --tiki-top-border-top-width: 0px;
    --tiki-top-border-bottom-width: 5px;
}

header.navbar.fixed-top {
    --tiki-fixed-top-border-top-width: 0px;
    --tiki-fixed-top-border-right-width: 0px;
    --tiki-fixed-top-border-bottom-width: 5px;
    --tiki-fixed-top-border-left-width: 0px;
    --tiki-topbar-light-border-color: #000;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}

// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // color mode
    .tiki-top-nav-dark {                           // dark top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-dark {
        @include topbar-nav-light;
    }
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-top-nav-bg: linear-gradient(to right, #300149 0%, #15001F 100%);
    --tiki-admin-top-nav-color: #{$navbar-light-link-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-light-link-hover-color};
    --tiki-admin-top-nav-hover-bg: none ;
    --tiki-admin-aside-nav-bg: linear-gradient(to right, #300149 0%, #15001F 100%);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-bg: linear-gradient(to right, #300149 0%, #15001F 100%);
    --tiki-admin-top-nav-color:#{$navbar-dark-link-color};
    --tiki-admin-top-nav-hover-color: #{$navbar-dark-link-hover-color};
//    --tiki-admin-top-nav-hover-bg: #{$navbar-dark-hover-color};
    --tiki-admin-aside-nav-bg: linear-gradient(to right, #300149 0%, #15001F 100%);
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-link-color: #{$navbar-dark-link-color};
    --tiki-admin-dropdown-bg: #{$dropdown-dark-bg};
    --tiki-admin-dropdown-link-hover-color: #{$navbar-dark-link-hover-color};
//    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-dark-link-hover-bg};
    .accordion-button::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
}

// When color mode switch isn't active
:root {
    .tiki .tiki-admin-top-nav-light, // Legacy
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {
        @include admin-nav-light;
    }
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {
        @include admin-nav-dark;
    }
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki.tiki-admin .navbar-light-parent.tiki-top-nav-light, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki.tiki-admin .navbar-dark-parent.tiki-top-nav-dark, // UAB - Specificity increased to override
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // dark values
    }
}

// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //

.accordion {
    --bs-accordion-active-bg: #3b0f52;
    --bs-accordion-active-color: #fff;
    --bs-accordion-btn-bg: #{$primary};
    --bs-accordion-btn-color: #fff;
}
:root {
    --bs-card-title-color: $white;
}