//------- Tiki CSS variables

// CSS variables / custom properties for base_files/scss/_tiki-pagetop_colors.scss -- Interpolation info from https://developersink.com/css/css-custom-properties-sass-variables/
// Background images (actual images or CSS gradients, etc.), if assigned, override background colors.

// Used for L&F nav color choice and color mode override
@mixin top-nav-dark {
    --tiki-top-bg: rgba(0, 0, 0, 1);
    --tiki-top-color: #ff7900;
    --tiki-top-hover-color: #fff;
    --tiki-top-text-color: #fff;
    --bs-navbar-brand-color: #{$navbar-dark-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-dark-brand-hover-color};
}

@mixin topbar-nav-dark {
    --tiki-topbar-bg: rgba(0, 0, 0, 1);
    --tiki-topbar-color: #ff7900;
    --tiki-topbar-hover-color: #fff;
    --tiki-topbar-text-color: #fff;
}

@mixin top-nav-light {
    --tiki-top-bg: #fff;
    --tiki-top-color: var(--tiki-top-color); //#ff7900;
    --tiki-top-hover-color: #000;
    --tiki-top-active-color: #000;
    //    --tiki-top-hover-bg:;
    --tiki-top-active-bg: #ff7900;
    --tiki-top-text-color: #000;
    --tiki-top-order: solid #000;
    //    --tiki-top-light-box-shadow:;
    --bs-navbar-brand-color: #{$navbar-light-brand-color};
    --bs-navbar-brand-hover-color: #{$navbar-light-brand-hover-color};
}

@mixin topbar-nav-light {
    --tiki-topbar-bg: #fff;
    --tiki-topbar-color: var(--tiki-top-color); // #ff7900;
    --tiki-topbar-hover-color: #000;
    --tiki-topbar-active-color: #000;
    //    --tiki-topbar-hover-bg:;
    --tiki-topbar-active-bg: #ff7900;
    --tiki-topbar-text-color: #000;
    --tiki-topbar-border: solid #000;
    //    --tiki-topbar-box-shadow:;
}

.tiki-top-nav-light {
    @include top-nav-light;
}
.tiki-topbar-nav-light {
    @include topbar-nav-light;
}
.tiki-top-nav-dark {
    @include top-nav-dark;
}
.tiki-topbar-nav-dark {
    @include topbar-nav-dark;
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki-top-nav-light {                           // light top selector
        @include top-nav-dark;                      // dark values
    }
    .tiki-topbar-nav-light {
        @include topbar-nav-dark;
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki-top-nav-dark {                           // dark top selector
        @include top-nav-light;                      // light values
    }
    .tiki-topbar-nav-dark {
        @include topbar-nav-light;
    }
}

:root {
    --tiki-top-border-width:  0 0 .125rem 0;
    --tiki-topbar-border-width: 0 0 .125rem 0;
}

:root {
    --o-chevron-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 14'%3e%3cpath d='M9 2 7 0 0 7l7 7 2-2-5-5 5-5z'/%3e%3c/svg%3e");
    --o-close-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='%23000'%3e%3cpath stroke='%23000' stroke-width='5' stroke-linecap='round' d='m15 17.121-8.132 8.132-2.121-2.12L12.879 15 4.747 6.868l2.12-2.121L15 12.879l8.132-8.132 2.12 2.121L17.122 15l8.132 8.132-2.121 2.12L15 17.123z'/%3e%3c/svg%3e");
    --o-check-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 12'%3e%3cpath fill='%23000' d='M13 0 5 8 2 5 0 7l5 5L15 2z'/%3e%3c/svg%3e");
    --o-success-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 125 125'%3e%3cpath fill='%2332c832' d='M62.5 0a62.5 62.5 0 1 0 0 125 62.5 62.5 0 0 0 0-125zm28 29.4c3.3 0 6 2.6 6 5.9a5.9 5.9 0 0 1-1.3 3.7L57.7 86a5.8 5.8 0 0 1-9.1 0L29.8 62.5c-.8-1-1.2-2.3-1.2-3.7a5.9 5.9 0 0 1 1.7-4.1l2.3-2.4a5.8 5.8 0 0 1 4.2-1.7 5.8 5.8 0 0 1 3.8 1.4L52 64.7 86.6 31a5.8 5.8 0 0 1 4-1.6z'/%3e%3c/svg%3e");
    --o-error-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140 125'%3e%3cpath fill='%23cd3c14' d='M70.3 0c-5.8 0-10.8 3.1-13.5 7.8L2.3 101.3l-.2.2A15.6 15.6 0 0 0 15.6 125H125a15.6 15.6 0 0 0 13.5-23.5L83.8 7.8A15.6 15.6 0 0 0 70.3 0zm19.2 50a6.4 6.4 0 0 1 4.4 1.9 6.4 6.4 0 0 1 0 9L79.4 75.6l15 15a6.4 6.4 0 0 1 0 9.2 6.4 6.4 0 0 1-4.5 1.9 6.4 6.4 0 0 1-4.6-2l-15-15-15 15a6.4 6.4 0 0 1-4.6 2 6.4 6.4 0 0 1-4.6-2 6.4 6.4 0 0 1 0-9l15-15L46.8 61a6.4 6.4 0 1 1 9-9.1l14.6 14.5L84.8 52a6.4 6.4 0 0 1 4.7-1.9z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
    --bs-accordion-active-bg: transparent;
}

.card-accordian > .card-header h4.card-title a {
    --bs-link-color: #fff !important;
}

// - - - - - New admin pages (Unified Admin Backend) - - - - - - - //

// Light navbar minus top nav
@mixin admin-nav-light {
    --tiki-admin-navbar-bg: #fff;
    --tiki-admin-top-nav-color: #{$link-color};
    --tiki-admin-top-nav-hover-color: #{$link-hover-color};
    --tiki-admin-top-nav-hover-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-aside-nav-bg: #fff;
    --tiki-admin-aside-nav-color: var(--tiki-admin-top-nav-color);
    --tiki-admin-aside-nav-hover-color: var(--tiki-admin-top-nav-hover-color);
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color: #fff;
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    button.was-nav-link.accordion-button {
        font-size: 1.1rem;
    }
}
// Light top nav
.tiki.tiki-admin .top_modules.navbar-light-parent {
    --tiki-admin-top-nav-bg:  #fff;
}

// Dark navbar minus top nav
@mixin admin-nav-dark {
    --tiki-admin-top-nav-color: #{$dropdown-dark-link-color};
    --tiki-admin-top-nav-hover-color: #{$link-hover-color};
    --tiki-admin-top-nav-hover-bg: #{$dropdown-link-hover-bg};
    --tiki-admin-aside-nav-bg:  rgba(0, 0, 0, 1);
    --tiki-admin-aside-nav-color: #{$dropdown-dark-link-color};
    --tiki-admin-aside-nav-hover-color: #{$link-hover-color};
    --tiki-admin-dropdown-bg: #{$dropdown-bg};
    --tiki-admin-dropdown-link-color: #{$navbar-light-color};
    --tiki-admin-dropdown-link-hover-color:  #fff;
    --tiki-admin-dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    button.was-nav-link.accordion-button {
        color: var(--tiki-admin-aside-nav-color) !important;
        background: var(--tiki-admin-aside-nav-bg) !important;
        font-size: 1.1rem;
    }
}
// Dark top nav
.tiki.tiki-admin .top_modules.navbar-dark-parent {
    --tiki-admin-top-nav-bg: rgba(0, 0, 0, 1);
}

// When color mode switch isn't active
:root {
    .tiki .tiki-admin-top-nav-light,
    .tiki .tiki-admin-aside-nav-light {
        @include admin-nav-light;
    }
    .tiki .tiki-admin-top-nav-dark,
    .tiki .tiki-admin-aside-nav-dark {
        @include admin-nav-dark;
    }
}

// Color mode preference trumps L&F admin light navbar option
[data-bs-theme=dark] {                              // dark color mode
    .tiki .tiki-admin-top-nav-light,
    .tiki .tiki-admin-aside-nav-light {               // light top selectors
        @include admin-nav-dark;                      // dark values
    }
}
// Color mode preference trumps L&F admin dark navbar option
[data-bs-theme=light] {                              // light color mode
    .tiki .tiki-admin-top-nav-dark,
    .tiki .tiki-admin-aside-nav-dark {                // dark top selectors
        @include admin-nav-dark;                      // light values
    }
}
// - - - - - New admin pages (Unified Admin Backend) END - - - - - - - //
:root .popover,
[data-bs-theme="dark"] .popover {
    --bs-popover-header-bg: var(--bs-card-cap-bg);
    --bs-popover-bg: var(--bs-body-bg);
    --bs-popover-border-color: var(--bs-border-color-translucent);
}
