// Files for the Boosted theme for Tiki Wiki CMS Groupware, Bootstrap 5+.
/* Boosted is an implementation for Tiki Wiki CMS Groupware of Orange Boosted (MIT license).
/* "Orange Boosted is a Bootstrap based, Orange branded accessible and ergonomic components library."  */
// Because Tiki already has the Bootstrap vendor files, this implementation uses just parts of the Orange Boosted package.
// The Orange Boosted files and directories are used unedited and identified in comments.
// This implementation is a work in progress and not all details are integrated at this time.
// Original source: https://boosted.orange.com/

@import "../../base_files/scss/_tiki-bootstrap_functions"; // 1. Functions are included first (so colors, etc. can be manipulated).

.accordion-button {
    --bs-accordion-btn-icon-width: 0;
}

@import "../scss/variables"; // 2. The first value declaration (the theme's) is used when it is declared in more than one imported file.
@import "../../default/scss/variables"; // 3. Adds default variables for any not declared by the theme variables file.
@import "../scss/variables-dark"; // 4. Values of dark variables if color modes are enabled.
@import "../../default/scss/variables-dark"; // 5. Adds default dark variables for any not declared by the theme dark variables file.
@import "../scss/css-variables"; // 6. Imported after default CSS variables to override them.
@import "../../base_files/scss/_tiki-variables.scss"; // 7. Default value declarations for Tiki variables (in addition to Bootstrap variables) such as in _tiki-selectors.scss.

@import "../../base_files/scss/_tiki-bootstrap_layout_and_components"; // 8. Remainder of required Bootstrap parts.
@import "../../base_files/scss/_tiki-selectors.scss"; // 9. Tiki CSS selectors used globally.
@import "../../base_files/scss/_tiki-pagetop_colors.scss"; // 10. Optionally imported to group (separately) the top and topbar zone components for styling.
@import "../scss/mixins"; // original source: Orange-Boosted-Bootstrap-5.2.0/scss/mixins
@import "../scss/forms"; // original source: Orange-Boosted-Bootstrap-5.2.0/scss/forms (imported to get the checkbox slide and range styling)
@import "../scss/accordion"; // original source: Orange-Boosted-Bootstrap-5.2.0/scss/_accordion.scss
@import "../scss/nav";
@import "../scss/_tiki-selectors.scss"; // 11. Tiki CSS selectors, including those of external scripts, to be styled by the theme's variables.

.form-switch .form-check-input {
    width: 3.75rem;
    height: 1.875rem;
    margin-left: -4.25rem;
    background-color: #fff;
    background-image: var(--o-close-icon),var(--o-switch-gradient);
    filter: invert(1);
    background-position: right .5rem top 50%,0 0;
    background-size: .75rem,1.625rem;
    border-color: #fff;
    outline-color: #fff;
    outline-offset: 1.25rem;
    transition: background-position .15s ease-in-out,outline-offset .2s ease-in-out;
}

.form-check-input[type="checkbox"] {
    border-radius: 0;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}
.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .125em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: .125rem solid #ccc;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
//    print-color-adjust: exact;
}

.form-switch .form-check-input:checked:not(:disabled) {

    --o-switch-gradient: linear-gradient(to right, #fff 1.625rem, transparent);

}
.form-switch .form-check-input:checked {
    background-color: #ff7900;
    filter: none;
    border-color: #ff7900;
    background-image: var(--o-check-icon),var(--o-switch-gradient);
    background-position: .375rem 50%,100% 0;
    background-size: .9375rem,1.625rem;

}